BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# clk
LOCATE COMP "clk25" SITE "P6";
IOBUF PORT "clk25" IO_TYPE=LVCMOS33;

# user pins. Used as serial for now
LOCATE COMP "uart_tx" SITE "T6";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
LOCATE COMP "uart_rx" SITE "R7";
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

# sdram
LOCATE COMP "sdram_clk" SITE "C8";
IOBUF PORT "sdram_clk" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_clk" SLEWRATE=FAST;
LOCATE COMP "sdram_a[0]" SITE "A9";
IOBUF PORT "sdram_a[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[0]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[1]" SITE "B9";
IOBUF PORT "sdram_a[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[1]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[2]" SITE "B10";
IOBUF PORT "sdram_a[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[2]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[3]" SITE "C10";
IOBUF PORT "sdram_a[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[3]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[4]" SITE "D9";
IOBUF PORT "sdram_a[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[4]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[5]" SITE "C9";
IOBUF PORT "sdram_a[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[5]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[6]" SITE "E9";
IOBUF PORT "sdram_a[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[6]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[7]" SITE "D8";
IOBUF PORT "sdram_a[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[7]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[8]" SITE "E8";
IOBUF PORT "sdram_a[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[8]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[9]" SITE "C7";
IOBUF PORT "sdram_a[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[9]" SLEWRATE=FAST;
LOCATE COMP "sdram_a[10]" SITE "B8";
IOBUF PORT "sdram_a[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[10]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[0]" SITE "B2";
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[0]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[1]" SITE "A2";
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[1]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[2]" SITE "C3";
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[2]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[3]" SITE "A3";
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[3]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[4]" SITE "B3";
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[4]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[5]" SITE "A4";
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[5]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[6]" SITE "B4";
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[6]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[7]" SITE "A5";
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[7]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[8]" SITE "E7";
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[8]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[9]" SITE "C6";
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[9]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[10]" SITE "D7";
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[10]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[11]" SITE "D6";
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[11]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[12]" SITE "E6";
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[12]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[13]" SITE "D5";
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[13]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[14]" SITE "C5";
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[14]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[15]" SITE "E5";
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[15]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[16]" SITE "A11";
IOBUF PORT "sdram_dq[16]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[16]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[17]" SITE "B11";
IOBUF PORT "sdram_dq[17]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[17]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[18]" SITE "B12";
IOBUF PORT "sdram_dq[18]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[18]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[19]" SITE "A13";
IOBUF PORT "sdram_dq[19]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[19]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[20]" SITE "B13";
IOBUF PORT "sdram_dq[20]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[20]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[21]" SITE "A14";
IOBUF PORT "sdram_dq[21]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[21]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[22]" SITE "B14";
IOBUF PORT "sdram_dq[22]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[22]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[23]" SITE "D14";
IOBUF PORT "sdram_dq[23]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[23]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[24]" SITE "D13";
IOBUF PORT "sdram_dq[24]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[24]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[25]" SITE "E11";
IOBUF PORT "sdram_dq[25]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[25]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[26]" SITE "C13";
IOBUF PORT "sdram_dq[26]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[26]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[27]" SITE "D11";
IOBUF PORT "sdram_dq[27]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[27]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[28]" SITE "C12";
IOBUF PORT "sdram_dq[28]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[28]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[29]" SITE "E10";
IOBUF PORT "sdram_dq[29]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[29]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[30]" SITE "C11";
IOBUF PORT "sdram_dq[30]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[30]" SLEWRATE=FAST;
LOCATE COMP "sdram_dq[31]" SITE "D10";
IOBUF PORT "sdram_dq[31]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dq[31]" SLEWRATE=FAST;

LOCATE COMP "sdram_we_n" SITE "B5";
IOBUF PORT "sdram_we_n" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_we_n" SLEWRATE=FAST;
LOCATE COMP "sdram_ras_n" SITE "B6";
IOBUF PORT "sdram_ras_n" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_ras_n" SLEWRATE=FAST;
LOCATE COMP "sdram_cas_n" SITE "A6";
IOBUF PORT "sdram_cas_n" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_cas_n" SLEWRATE=FAST;
LOCATE COMP "sdram_ba[0]" SITE "B7";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_ba[0]" SLEWRATE=FAST;
LOCATE COMP "sdram_ba[1]" SITE "A8";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_ba[1]" SLEWRATE=FAST;

# eth common
LOCATE COMP "eth_mdio" SITE "T4";
IOBUF PORT "eth_mdio" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_mdc" SITE "R5";
IOBUF PORT "eth_mdc" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rst_n" SITE "R6";
IOBUF PORT "eth_rst_n" IO_TYPE=LVCMOS33;

# eth0
LOCATE COMP "eth0_tx_clk" SITE "L1";
IOBUF PORT "eth0_tx_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "eth0_rx_clk" SITE "J1";
IOBUF PORT "eth0_rx_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "eth0_rx_ctl" SITE "J2";
IOBUF PORT "eth0_rx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth0_rx_data[0]" SITE "K2";
IOBUF PORT "eth0_rx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth0_rx_data[1]" SITE "J3";
IOBUF PORT "eth0_rx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth0_rx_data[2]" SITE "K1";
IOBUF PORT "eth0_rx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth0_rx_data[3]" SITE "K3";
IOBUF PORT "eth0_rx_data[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth0_tx_ctl" SITE "L2";
IOBUF PORT "eth0_tx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth0_tx_data[0]" SITE "M2";
IOBUF PORT "eth0_tx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth0_tx_data[1]" SITE "M1";
IOBUF PORT "eth0_tx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth0_tx_data[2]" SITE "P1";
IOBUF PORT "eth0_tx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth0_tx_data[3]" SITE "R1";
IOBUF PORT "eth0_tx_data[3]" IO_TYPE=LVCMOS33;

# eth1
LOCATE COMP "eth1_tx_clk" SITE "J16";
IOBUF PORT "eth1_tx_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "eth1_rx_clk" SITE "M16";
IOBUF PORT "eth1_rx_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "eth1_rx_ctl" SITE "P16";
IOBUF PORT "eth1_rx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth1_rx_data[0]" SITE "M15";
IOBUF PORT "eth1_rx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth1_rx_data[1]" SITE "R16";
IOBUF PORT "eth1_rx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth1_rx_data[2]" SITE "L15";
IOBUF PORT "eth1_rx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth1_rx_data[3]" SITE "L16";
IOBUF PORT "eth1_rx_data[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth1_tx_ctl" SITE "K14";
IOBUF PORT "eth1_tx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth1_tx_data[0]" SITE "K16";
IOBUF PORT "eth1_tx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth1_tx_data[1]" SITE "J15";
IOBUF PORT "eth1_tx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth1_tx_data[2]" SITE "J14";
IOBUF PORT "eth1_tx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth1_tx_data[3]" SITE "K15";
IOBUF PORT "eth1_tx_data[3]" IO_TYPE=LVCMOS33;

# HUB control pins
LOCATE COMP "hub_line_select[0]" SITE "N5";
IOBUF PORT "hub_line_select[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_line_select[0]" SLEWRATE=FAST;
LOCATE COMP "hub_line_select[1]" SITE "N3";
IOBUF PORT "hub_line_select[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_line_select[1]" SLEWRATE=FAST;
LOCATE COMP "hub_line_select[2]" SITE "P3";
IOBUF PORT "hub_line_select[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_line_select[2]" SLEWRATE=FAST;
LOCATE COMP "hub_line_select[3]" SITE "P4";
IOBUF PORT "hub_line_select[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_line_select[3]" SLEWRATE=FAST;
LOCATE COMP "hub_line_select[4]" SITE "N4";
IOBUF PORT "hub_line_select[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_line_select[4]" SLEWRATE=FAST;
LOCATE COMP "hub_clk" SITE "M3";
IOBUF PORT "hub_clk" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_clk" SLEWRATE=FAST;
LOCATE COMP "hub_latch" SITE "N1";
IOBUF PORT "hub_latch" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_latch" SLEWRATE=FAST;
LOCATE COMP "hub_output_enable" SITE "M4";
IOBUF PORT "hub_output_enable" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_output_enable" SLEWRATE=FAST;

# J1 data pins
LOCATE COMP "hub_data[0]" SITE "C4";
IOBUF PORT "hub_data[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[0]" SLEWRATE=FAST;
LOCATE COMP "hub_data[1]" SITE "D4";
IOBUF PORT "hub_data[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[1]" SLEWRATE=FAST;
LOCATE COMP "hub_data[2]" SITE "E4";
IOBUF PORT "hub_data[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[2]" SLEWRATE=FAST;
LOCATE COMP "hub_data[3]" SITE "D3";
IOBUF PORT "hub_data[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[3]" SLEWRATE=FAST;
LOCATE COMP "hub_data[4]" SITE "F5";
IOBUF PORT "hub_data[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[4]" SLEWRATE=FAST;
LOCATE COMP "hub_data[5]" SITE "E3";
IOBUF PORT "hub_data[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[5]" SLEWRATE=FAST;

# J2 data pins
LOCATE COMP "hub_data[6]" SITE "F1";
IOBUF PORT "hub_data[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[6]" SLEWRATE=FAST;
LOCATE COMP "hub_data[7]" SITE "F2";
IOBUF PORT "hub_data[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[7]" SLEWRATE=FAST;
LOCATE COMP "hub_data[8]" SITE "G2";
IOBUF PORT "hub_data[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[8]" SLEWRATE=FAST;
LOCATE COMP "hub_data[9]" SITE "G1";
IOBUF PORT "hub_data[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[9]" SLEWRATE=FAST;
LOCATE COMP "hub_data[10]" SITE "H2";
IOBUF PORT "hub_data[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[10]" SLEWRATE=FAST;
LOCATE COMP "hub_data[11]" SITE "H3";
IOBUF PORT "hub_data[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[11]" SLEWRATE=FAST;

# J3 data pins
LOCATE COMP "hub_data[12]" SITE "B1";
IOBUF PORT "hub_data[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[12]" SLEWRATE=FAST;
LOCATE COMP "hub_data[13]" SITE "C2";
IOBUF PORT "hub_data[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[13]" SLEWRATE=FAST;
LOCATE COMP "hub_data[14]" SITE "C1";
IOBUF PORT "hub_data[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[14]" SLEWRATE=FAST;
LOCATE COMP "hub_data[15]" SITE "D1";
IOBUF PORT "hub_data[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[15]" SLEWRATE=FAST;
LOCATE COMP "hub_data[16]" SITE "E2";
IOBUF PORT "hub_data[16]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[16]" SLEWRATE=FAST;
LOCATE COMP "hub_data[17]" SITE "E1";
IOBUF PORT "hub_data[17]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[17]" SLEWRATE=FAST;

# J4 data pins
LOCATE COMP "hub_data[18]" SITE "P5";
IOBUF PORT "hub_data[18]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[18]" SLEWRATE=FAST;
LOCATE COMP "hub_data[19]" SITE "R3";
IOBUF PORT "hub_data[19]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[19]" SLEWRATE=FAST;
LOCATE COMP "hub_data[20]" SITE "P2";
IOBUF PORT "hub_data[20]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[20]" SLEWRATE=FAST;
LOCATE COMP "hub_data[21]" SITE "R2";
IOBUF PORT "hub_data[21]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[21]" SLEWRATE=FAST;
LOCATE COMP "hub_data[22]" SITE "T2";
IOBUF PORT "hub_data[22]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[22]" SLEWRATE=FAST;
LOCATE COMP "hub_data[23]" SITE "N6";
IOBUF PORT "hub_data[23]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[23]" SLEWRATE=FAST;

# J5 data pins
LOCATE COMP "hub_data[24]" SITE "T13";
IOBUF PORT "hub_data[24]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[24]" SLEWRATE=FAST;
LOCATE COMP "hub_data[25]" SITE "R12";
IOBUF PORT "hub_data[25]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[25]" SLEWRATE=FAST;
LOCATE COMP "hub_data[26]" SITE "R13";
IOBUF PORT "hub_data[26]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[26]" SLEWRATE=FAST;
LOCATE COMP "hub_data[27]" SITE "R14";
IOBUF PORT "hub_data[27]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[27]" SLEWRATE=FAST;
LOCATE COMP "hub_data[28]" SITE "T14";
IOBUF PORT "hub_data[28]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[28]" SLEWRATE=FAST;
LOCATE COMP "hub_data[29]" SITE "P12";
IOBUF PORT "hub_data[29]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[29]" SLEWRATE=FAST;

# J6 data pins
LOCATE COMP "hub_data[30]" SITE "R15";
IOBUF PORT "hub_data[30]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[30]" SLEWRATE=FAST;
LOCATE COMP "hub_data[31]" SITE "T15";
IOBUF PORT "hub_data[31]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[31]" SLEWRATE=FAST;
LOCATE COMP "hub_data[32]" SITE "P13";
IOBUF PORT "hub_data[32]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[32]" SLEWRATE=FAST;
LOCATE COMP "hub_data[33]" SITE "P14";
IOBUF PORT "hub_data[33]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[33]" SLEWRATE=FAST;
LOCATE COMP "hub_data[34]" SITE "N14";
IOBUF PORT "hub_data[34]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[34]" SLEWRATE=FAST;
LOCATE COMP "hub_data[35]" SITE "H15";
IOBUF PORT "hub_data[35]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[35]" SLEWRATE=FAST;

# J7 data pins
LOCATE COMP "hub_data[36]" SITE "G16";
IOBUF PORT "hub_data[36]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[36]" SLEWRATE=FAST;
LOCATE COMP "hub_data[37]" SITE "H14";
IOBUF PORT "hub_data[37]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[37]" SLEWRATE=FAST;
LOCATE COMP "hub_data[38]" SITE "G15";
IOBUF PORT "hub_data[38]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[38]" SLEWRATE=FAST;
LOCATE COMP "hub_data[39]" SITE "F15";
IOBUF PORT "hub_data[39]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[39]" SLEWRATE=FAST;
LOCATE COMP "hub_data[40]" SITE "F16";
IOBUF PORT "hub_data[40]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[40]" SLEWRATE=FAST;
LOCATE COMP "hub_data[41]" SITE "E16";
IOBUF PORT "hub_data[41]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[41]" SLEWRATE=FAST;

# J8 data pins
LOCATE COMP "hub_data[42]" SITE "D16";
IOBUF PORT "hub_data[42]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[42]" SLEWRATE=FAST;
LOCATE COMP "hub_data[43]" SITE "E15";
IOBUF PORT "hub_data[43]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[43]" SLEWRATE=FAST;
LOCATE COMP "hub_data[44]" SITE "C16";
IOBUF PORT "hub_data[44]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[44]" SLEWRATE=FAST;
LOCATE COMP "hub_data[45]" SITE "B16";
IOBUF PORT "hub_data[45]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[45]" SLEWRATE=FAST;
LOCATE COMP "hub_data[46]" SITE "C15";
IOBUF PORT "hub_data[46]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[46]" SLEWRATE=FAST;
LOCATE COMP "hub_data[47]" SITE "B15";
IOBUF PORT "hub_data[47]" IO_TYPE=LVCMOS33;
IOBUF PORT "hub_data[47]" SLEWRATE=FAST;

FREQUENCY PORT "clk25" 25.0 MHz;
FREQUENCY PORT "eth0_rx_clk" 125.0 MHz;
FREQUENCY PORT "eth1_rx_clk" 125.0 MHz;
